@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/css?family=Roboto);

*{
	margin: 0;
	padding: 0;
}
html, body{
	color: #ffffff;
	background:
	linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
	url(../images/bg_acceuil.jpg) center center no-repeat fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	height: 100%;
	width: 100%;
}
h1{
	font-size: 2.5rem;
	font-weight: 400;
	margin-bottom: 5%;
	text-transform: uppercase;
}
h4{
	/*font-size: 1.5rem;*/
	font-weight: 400;
	text-transform: uppercase;
}
.navbar-default{
	/*background-color: #191919;*/
	background-color: rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	transition: background 0.6s ease 0s;
}
.navbar-default .navbar-brand{
    color: #fff;
}
.navbar-default .navbar-brand:hover{
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #666666;
    font-size: 0.8125rem;
}
.navbar-default .navbar-nav > li > a:hover {
	background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    transition: background 0.4s ease 0s;
}
.pad-section{
	padding: 5%;
	height: 100%;
}

/*Section - Home*/
#home{
	color:#ffffff;
	font-size: 0.8125rem;
	height: 100% !important;
	padding: 15% 0 5% 0;
	position: relative;
	width: 100%;
}
.title{
	font-size: 5rem;
	font-weight: 400;
	text-transform: uppercase;
}
.quote{
	font-size: 1rem;
}
#home a{
	margin-top: 10%;
}
.btn-outline-inverse{
	border: 1px solid #ffffff;
	color: #ffffff;
	letter-spacing: 0.1rem;
}
.btn-outline-inverse:hover{
	background-color: rgba(0,0,0,0.5);
	color: #ffffff;
}

/*Section - Works*/
#works{
	font-size: 1rem;
}
.work{
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid #ffffff;
	margin-bottom: 10px;
	margin-top: 20px;
}

/*Section - About Me*/
#about{
	background: 
	linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
	url(../images/bg_apropos.jpg) center center no-repeat fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color: #ffffff;
	display: table;
	font-size: 1rem;
	height: 50% !important;
	position: relative;
	width: 100%;
}
#about .text-center > p{
	padding: 0 10%;
}
/*Section - Contact*/
#contact{
	color: #ffffff;
	display: table;
	font-size: 0.8125rem;
	max-height: 100% !important;
	position: relative;
	width: 100%;
}
.form-control{
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0.1);
}
.form-control:focus{
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.9);
}
.btn{
	background-color: rgba(0, 0, 0, 0);
	border-radius: 0!important;
	border: 3px solid #ffffff;
	color: #ffffff;
	text-transform: uppercase;
}
.btn:hover{
	background-color: #ffffff;
	border-radius: 3px solid #ffffff !important;
	color: #000000;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
}
/*Section - Footer*/
footer{
	color: #ffffff;
	font-size: 0.625rem;
	padding-top: 10%;
	text-transform: uppercase;
}